
        @import url("grid/nitobi.reset.css");
    
        @import url("grid/tiny/nitobi.grid.css");
    
        @import url("grid/lightblue/nitobi.grid.css");
    
        @import url("grid/nitobi/nitobi.grid.css");
    
        @import url("grid/flex/nitobi.grid.css");
    
        @import url("grid/vista/nitobi.grid.css");
    
        @import url("grid/xp/nitobi.grid.css");
    
        @import url("grid/tiger/nitobi.grid.css");
    
        @import url("grid/nitobi/toolbar/default/toolbar.css");
    
        @import url("grid/nitobi/effects/effects.css");
    
        @import url("grid/nitobi.reset.css");
    
        @import url("grid/gloss/calendar.css");
    
        @import url("grid/minimal/calendar.css");
    
        @import url("grid/minimal_bluestripes/calendar.css");
    
        @import url("grid/minimal_greenstripes/calendar.css");
    
        @import url("grid/minimal_redstripes/calendar.css");
    
        @import url("grid/minimal_stripes/calendar.css");
    
        @import url("grid/outline/calendar.css");
    
        @import url("grid/radial_blue/calendar.css");
    
        @import url("grid/radial/calendar.css");
    
        @import url("grid/radial_orange/calendar.css");
    
        @import url("grid/flex/calendar.css");
    
        @import url("grid/leopard/calendar.css");
    
        @import url("grid/vista/calendar.css");
    .nitobi-hide {
	display:none;
}

.ntb-effects-small {
	clear:both;
	display:block;
	float:none;
	height:0px;
	//height:1px;
	overflow:hidden;
	width:auto;
}